* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
main {
   display: flex;
   flex-direction: row;
   height: 100vh;
}
.logo-side {
   width: 35vw;
   background: rgb(2, 0, 36);
   background: linear-gradient(
      13deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
   );
   display: flex;
   align-items: center;
   justify-content: center;
}
.logo {
   text-align: center;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.39);
   font-size: 3rem;
}
.form-side {
   padding: 5vh 5vw;
   color: white;
   background-color: black;
   width: 65vw;
}
.discreption {
   height: 40%;
   width: 100%;
}

form {
   height: 60%;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   border: 2px solid black;
   justify-content: space-between;
   align-items: center;
}
form > div {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 50%;
   align-items: flex-start;
   justify-content: left;
   padding: 0.5rem;
}
input {
   border-radius: 3px;
   outline: none;
   box-shadow: rgba(255, 255, 255, 0.37) 0px 0px 10px 3px;
   border: 0;
   width: 80%;
}

input:focus {
   border: 0;

   scale: 104%;
   box-shadow: rgba(255, 255, 255, 0.37) 0px 0px 10px 6px;
}

label {
   padding: 0.3rem 0rem;
}

button {
   padding: 0.5rem 1rem;
   cursor: pointer;
}
.error {
   box-shadow: rgba(255, 0, 0, 0.37) 0px 0px 10px 6px;
   background-color: rgb(255, 210, 210);
}

.confirm {
   border: 3px solid red;
}
